*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

/* Navigation Bar */
#navbar{
    content: "";
    display: flex;
    text-align: center;
    position: sticky;
    top: 0px;

}

#navbar ul{
    
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    gap: 30px;
   
}
#navbar ul img{
    width: 30pxpx;
    height: 30px;  
   
}


#navbar ul{
   
    display: flex;
    font-family: 'Courier New', Courier, monospace; 


    
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
 
}  

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    
    
}

#navbar ul li a:hover{
    color: rgb(162, 33, 33);
  
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
    
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('img1.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 70px;
    display: flex;
    background-color:#97e2a6;;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}


#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Utility Classes */
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 14pxpx;
    padding: 10px;
    color:white;
}


.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}
/* Navigation */
#navbar {
    flex-direction: column;
    background-color: #97e2a6;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: row;
    gap: 15px;
    border-radius: 15px;
    margin-top: 70px;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

.h-primary{
    font-size:30px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}